
.bio-titulo {
  font-size: 3em;
  margin-left: 4%;
  display: inline-block;
  position: relative;
  top: 60px;
  color: white;
}

hr { 
  color: white;
  top: 60px;
  position: relative;
}

.bio-texto {
  color: white;
  position: relative;
  top: 80px;
  margin: 0 20px;
  line-height: 1.5;
  text-align: justify;
  padding: 20px;
}

