#Carreira h1 {
    font-size: 3em;
    margin-left: 4%;
    display: inline-block;
    position: relative;
    top: 160px;
    color: white;
       
   }

   #Carreira hr {
    color: white;
    top: 160px;
    position: relative
   }

   #Carreira p {
    color: white;
    position: relative;
    top: 180px;
    margin: 0 20px;
    line-height: 1.5;
    text-align: justify;
    padding: 20px; 

   
}




#carreira_img{
  
  width: 30%;
  position: relative;
 top:190px ;
  left: 100px;
}




  