#Curiosidades h1 {
  font-size: 3em;
  margin-left: 4%;
  color: white;
  text-align: left;
  margin-top: 400px;
}

#Curiosidades hr {
  border: none;
  border-top: 2px solid white;
  margin-top: -40px;
  margin-bottom: 20px;
}

.texto-direita {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 90px;
}

#Curiosidades iframe {
  width: 100%;
  max-width: 600px;
  height: 360px;
  margin: 0 auto;
  display: block;
  margin-top: -450px;
}

.texto-direita2 {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 400px;
}

#Curiosidades img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  display: block;
  margin-top: 150px;
}
