footer {min-width: 100%;
    font-family: cursive;
    color: purple;
    position: relative;
    background-color: white;
    padding: 20px;
    text-align: center;
    top: 200px;
    height: 250px;
  }

  footer p {
      position: relative;
      top: -140px;
  }

  footer img{
     width: 10%;
     position: relative;
     top: -100px;
     
  }

  


  